<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <div class="topcorner">
            <p>Project Name: Gifter</p>
            <p>Crystal Liu (crl95)<br>Jerry Pan (jp884)<br>Kathleen Li (kl769)<br>Christina Zhao (cfz8)<br>Claire Tang (yt338)</p>
        </div>
        <form class="form-inline global-search">
            <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
                GIFTER
            </h1>

            <br><br>

            <div class="form-group">
                Who is the gift for? <input id="input" type="text" name="search" class="form-control" placeholder="e.g. friend, boss who likes cats">
            </div>
            <br><br>
            <div class="form-group">
                What's the occasion? <input id="input" type="text" name="search" class="form-control" placeholder="e.g. 21st birthday, got into college, Valentine's Day">
            </div>
            <br><br>
            <div class="form-group">
                Any other details? <input id="input" type="text" name="search" class="form-control" placeholder="e.g. budget is $10-30, for students">
            </div>
            <br><br>
            <button type="submit" class="btn btn-info"> Happy Gifting! </button>
        </form>
        <form class="form-inline global-search">
        {% if data %}
            <h1>{{output_message}}</h1>
            {% for d in data %}
                <br>
                <p>{{d}}</p>
            {% endfor %}
        {% endif %}
        </form>
    </body>

</html>
