<html>
    <head>
        <link rel="stylesheet" href="static/main2.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Heebo">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    </head>
    <body>
      <div class = "topcorner">
          Crystal Liu (crl95), Jerry Pan (jp884), Kathleen Li (kl769), Christina Zhao (cfz8), Claire Tang (yt338)
      </div>
      <h1> gifter </h1>
      <div class = "button" id = "home"><< Back to Search Page</div>

<!-- FORM HTML -->
      <div class = "form active">
        <div class = "form-group">
            <span class = "form-label"><span class = "highlight">Who</span> is the gift for?</span>
            <span class = "form-input-group">
              <input id="input-who" type="text" name="search" class="form-input"
              placeholder="e.g. friend, boss who likes cats" onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'e.g. friend, boss who likes cats'" >
              <span class = "border-bottom"></span>
            </span>
        </div>
        <div class = "form-group">
            <span class = "form-label"><span class = "highlight">What</span> is the occasion?</span>
            <span class = "form-input-group">
              <input id="input-what" type="text" name="search" class="form-input"
              placeholder="e.g. 21st birthday, got into college" onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'e.g. 21st birthday, got into college'" >
              <span class = "border-bottom"></span>
            </span>
        </div>
        <div class = "button submit" id = "query">Happy Gifting!</div>
      </div>

      <div id="loader"></div>

<!-- RESULTS HTML -->
      <div class = "results">
          <div class = "item-container">
              <div class = "item-image"></div>
              <div class = "item-desc">
                  <div class = "item-category">{{ category }}</div>
                  <div class = "item-title">{{ title }}</div>
                  <div class = "item-price">
                      <span class = "desc-label">PRICE:</span>
                      <span class = "price-num highlight">{{ price }}</span>
                  </div>
                  <div class = "item-rating">
                      <span class = "desc-label">RATING:</span>
                      <span class = "rating-stars highlight" >{{ rating }}<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                  </div>
              </div>
              <div class = "item-relevance">
                  <div class = "button highlight"><i class="fas fa-thumbs-up"></i></div>
                  <div class = "button highlight"><i class="fas fa-thumbs-down"></i></div>
              </div>
          </div>
      </div>
      <script src="static/script.js"></script>
    </body>
</html>
