<html>
    <head>
        <link rel="stylesheet" href="static/main2.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Heebo">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    </head>
    <body>
      <div class = "topcorner">
          Crystal Liu (crl95), Jerry Pan (jp884), Kathleen Li (kl769), Christina Zhao (cfz8), Claire Tang (yt338)
      </div>
      <h1> gifter </h1>
      <div class = "button" id = "home"><< Back to Search Page</div>

<!-- FORM HTML -->
<form class="form-inline global-search">
      <div class = "form">
        <div class = "form-group">
            <span class = "form-label"><span class = "highlight">Who</span> is the gift for?</span>
            <span class = "form-input-group">
              <input id="input-who" type="text" name="who" class="form-input"
              placeholder="e.g. friend, boss who likes cats" onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'e.g. friend, boss who likes cats'" >
              <span class = "border-bottom"></span>
            </span>
        </div>
        <div class = "form-group">
            <span class = "form-label"><span class = "highlight">What</span> is the occasion?</span>
            <span class = "form-input-group">
              <input id="input-what" type="text" name="occasion" class="form-input"
              placeholder="e.g. 21st birthday, got into college" onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'e.g. 21st birthday, got into college'" >
              <span class = "border-bottom"></span>
            </span>
        </div>
        <div class = "form-group">
            <span class = "form-label"><span class = "highlight">What</span> is your price range?</span>
            <span class = "form-input-group">

              <input id="input-price" type="text" name="min" class="form-input"

              placeholder="min" onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'min'" >
              <span id = "price-border" class = "border-bottom"></span>
            </span>
            <span class = "text">to</span>
            <span class = "form-input-group">

              <input id="input-price" type="text" name="max" class="form-input"
              placeholder="max" onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'max'" >
              <span id = "price-border" class = "border-bottom"></span>
            </span>
        </div>
        <button type = "submit" class = "button submit" id = "query">Happy Gifting!</button>
</form>
      </div>

      <div id="loader"></div>

<!-- RESULTS HTML -->
<form class="form-inline global-search">
      <div class = "results">
        {% if data %}
        {% for d in data %}
          <div class = "item-container" data-order = "{{ data.index(d) }}">
              <div class = "item-image"><img src = "{{ d[3] }}"></div>
              <div class = "item-desc">
                  <div class = "item-category">name </div>
                  <div class = "item-title">{{ d[0] }} </div>
                  <div class = "item-price">
                      <span class = "desc-label">PRICE:</span>
                      <span class = "price-num highlight">${{ d[1] }}</span>
                  </div>
                  <div class = "item-rating">
                      <span class = "desc-label">RATING:</span>
                      <span class = "rating-stars highlight" >{{ d[2] }}</span>
                  </div>
                  <div class = "item-score">
                      <span class = "desc-label">SCORE:</span>
                      <span class = "rating-stars highlight" >{{ d[4] }}</span>
                  </div>
                  <div class = "item-review">
                      <span class = "desc-label">REVIEW:</span>
                      <span class = "rating-stars highlight" >review</span>
                  </div>
              </div>
          </div>
          {% endfor %}
          {% endif %}
      </div>
    </form>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      <script src="static/script.js"></script>
    </body>
</html>
